<!-- Contenedor completo del footer -->
<div class="w-full border-10 text-[#f0e4e4]">
  <footer class="footer sm:footer-horizontal p-6 bg-[#ffffff]">
    <aside class="text-[#000000]">
      <div class="navbar-brand text-4xl">
        <span class="text-[#39b918]">UEDE</span>
      </div>
      <p>
        Bienvenidos a la Unidad de Emprendimiento
        <br />
        Correo:
        <a
          href="https://mail.google.com/mail/?view=cm&fs=1&to=unidaddeemprendimiento@unicesar.edu.co"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600 underline"
        >
          {{correo}}
        </a>
        <br />
        Contacto +57 3006727983
      </p>
    </aside>

    <nav>
      <span class="text-[#39b918] footer-title text-3xl">Emprendimiento</span>
      <a
        class="link link-hover text-[#000000]"
        href="https://uede.unicesar.edu.co/nosotros"
      >
        Conoce Nuestros Emprendimientos
      </a>
    </nav>

    <nav>
      <span class="footer-title text-3xl text-[#39b918]">La Universidad</span>
      <a
        class="link link-hover text-[#000000]"
        href="https://aulaweb.unicesar.edu.co/"
      >
        Ir a Unicesar
      </a>
    </nav>
  </footer>

  <!-- Barra inferior de derechos reservados -->
  <hr class="text-[#b9acac] p-1">
  <div class="bg-[#35963c] text-[#FFFFFF] text-center text-sm">
    © 2025 Universidad Popular del Cesar. Todos los derechos reservados.
  </div>
</div>
